<form [formGroup]="myForm">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <mat-select formControlName="name">
      <mat-option *ngFor="let s of surnameList" [value]="s">
        {{s}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <input type="text"  formControlName="surname">
  <button type="submit" [disabled]="myForm.invalid">Valider</button>
</form>
<button (click)="onResetForm()">Reset form</button>
<button (click)="onReset()">Reset cache</button>
{{myForm.value | json}}
