gol-board{
  margin:0;
  padding:0;
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #031321;
  font-family: consolas;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 12px;
  color: #2196f3;
}
